@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');




html,
body,
* {
  padding: 0;
  margin: 0;
  background-color: #FDFCF8;
  box-sizing: border-box;
  font-family: "Montserrat",
}

